*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body,.wrap{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: column nowrap;
    .main{
        width: 100%;
        height: 700px;
        dl{
            display: flex;
            flex-flow: row nowrap;
            dt{
                margin: 5px;
            }
            dd{
                padding-top: 70px;
                display: flex;
                flex-flow: column nowrap;
            }
        }
        img{
            width: 100px;
            height: 100px;
        }
    }
}